<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3 id="head">Ticket Details of Single Customer</h3>
        <form ng-hide="ticket.responseData" ng-submit="ticketDetails()">
            <input type="text" class="form-control" placeholder="Enter the customer name" ng-model="ticket.name">
            <br/>
            <button class="btn btn-sm btn-primary form-control">Submit</button>
        </form>
    </div>
</div>
<br><br>
<div class="row" ng-if="!ticket.responseData && ticket.errorMessage">
	<div class="col-md-12 text-center text-danger">
		Ticket Not Found...!  Please Enter Valid Customer Name..
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	 <table ng-show="ticket.responseData" class="table table-responsive table-hover">
            
            <tr>
                <th>Id</th>
                <th>Customer_Name</th>
                <th>Complaint</th>
                <th>Comments</th>
                <th>Created_By</th>
                <th>Assigned_To</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{ ticket.responseData._id }}</td>
                <td>{{ ticket.responseData.customer_name }}</td>
                <td>{{ ticket.responseData.complaint }}</td>
                <td>{{ ticket.responseData.comments }}</td>
                <td>{{ ticket.responseData.created_By }}</td>
                <td>{{ ticket.responseData.assigned_To }}</td>
                <td>{{ ticket.responseData.status }}</td>
            </tr>
        </table>
	</div>
</div>
